<div class="row py-5">
    <div class="col-md-4 d-flex align-items-center">
        <div>
            <div class="brdr w-25 mb-3"></div>
            <h2 class="h5"> Trending <br> Tv <br> To Watch Right Now
            </h2>
            <p class="text-muted py-2"> Most watched Tv Shows By The Day</p>
            <div class="brdr w-100 mb-3"></div>
        </div>
       
    </div>

    <div *ngFor="let tv of trendingTV" class="col-md-2">

        <app-mediaitems [Movie]="tv" ></app-mediaitems>

    </div>






    <!-- <div *ngFor="let Movie of trendingMovies" class="col-md-2">
        <div class="Movie position-relative" id="movie">
                <img  [src]="imgprefix+Movie.poster_path" class="w-100 imgg " alt="">
            <h3 class="h6 my-2" style="font-size: medium;">{{Movie.title}}</h3>
            <div class="Vote position-absolute top-0 p-1 end-0 text-white">{{Movie.vote_average.toFixed(1)}}</div>
        </div>
    </div> -->



</div>